<div class="box box-author">
    <div class=post-author>
        <div class=author-img>
            <img alt src='../jimi.jpg' class='avatar avatar-150 photo' height=150 width=150></div>
        <div class=author-content>
            <div class=top-author>
                <h5 class="author-name"><a href=../../../../author/nmc2011/index.html title="Posts by Krystal Mays" rel=author>Jimi Adesokan</a></h5>
            </div>
            <p>I trust that you enjoyed the article, You can reach me on the social media platforms below and kindly follow and suscribe to my youtube channel.</p>
            <div class=content-social-author>
                <a target=_blank class=author-social href=http://facebook.com/#>
Facebook </a>
                <a target=_blank class=author-social href="https://twitter.com/JimiAbraham3">
Twitter </a>
                <a target=_blank class=author-social href="https://www.linkedin.com/in/adesokanjimi/">
LinkedIn </a></div>
        </div>
    </div>
</div>