<footer id=na-footer class="na-footer  footer-1">
    <div class="footer-center clearfix">
        <div class=container>
            <div class=container-inner>
                <div class=row>
                    <div class="col-md-6 col-sm-12">
                        <div id=mc4wp_form_widget-6 class="widget first widget_mc4wp_form_widget">
                            <h2 class="widgettitle">Get Special Offers &#038; More !</h2>
                            <script>
                                (function() {
                                    if (!window.mc4wp) {
                                        window.mc4wp = {
                                            listeners: [],
                                            forms: {
                                                on: function(event, callback) {
                                                    window.mc4wp.listeners.push({
                                                        event: event,
                                                        callback: callback
                                                    });
                                                }
                                            }
                                        }
                                    }
                                })();
                            </script>
                            <form id=mc4wp-form-1 class="mc4wp-form mc4wp-form-77" method=post data-id=77 data-name="News Letters">
                                <div class=mc4wp-form-fields>
                                    <div class="newsletters clearfix">
                                        <div class=form-newsletter>
                                            <div class=des-newsletter>
                                                Stay Updated about educative, eye opening contents about your eyes! EyesCool is the Plug

                                            </div>
                                            <div class=group-input-newsletter>
                                                <div class="input-group input-newsletter">
                                                    <input type=email id=mc4wp name=EMAIL placeholder="Your email address " class=form-control>
                                                    <span class=input-group-btn>
<input
type=submit value=Subscribe  class="btn-newsletter btn">
</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div><label style="display: none !important;">Leave this field empty if you're human: <input
type=text name=_mc4wp_honeypot value tabindex=-1 autocomplete=off></label><input type=hidden name=_mc4wp_timestamp value=1657855997><input type=hidden name=_mc4wp_form_id value=77><input type=hidden name=_mc4wp_form_element_id value=mc4wp-form-1>
                                <div class=mc4wp-response></div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div id=categories-4 class="widget first widget_categories">
                            <h2 class="widgettitle">Category</h2>
                            <ul>
                                <li class="cat-item cat-item-45"><a href=../category/beauty/index.html>Beauty</a></li>
                                <li class="cat-item cat-item-32"><a href=../category/fashion-style/index.html title="Proin facilisis justo odio, eget porta nisi porta a. Vestibulum eu porta augue. Pellentesque at suscipit justo. Cras tempus in tortor malesuada euismod. Vivamus sit amet augue et leo pellentesque euismod.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet ut ligula et semper.Fusce tortor metus, interdum et bibendum nec, fermentum at nisl.">Fashion &amp; Style</a></li>
                                <li class="cat-item cat-item-7"><a href=../category/lifestyle/index.html title="Proin facilisis justo odio, eget porta nisi porta a. Vestibulum eu porta augue. Pellentesque at suscipit justo. Cras tempus in tortor malesuada euismod. Vivamus sit amet augue et leo pellentesque euismod.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet ut ligula et semper.Fusce tortor metus, interdum et bibendum nec, fermentum at nisl.">Lifestyle</a></li>
                                <li class="cat-item cat-item-19"><a href=../category/tips-tricks/index.html title="Proin facilisis justo odio, eget porta nisi porta a. Vestibulum eu porta augue. Pellentesque at suscipit justo. Cras tempus in tortor malesuada euismod. Vivamus sit amet augue et leo pellentesque euismod.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet ut ligula et semper.Fusce tortor metus, interdum et bibendum nec, fermentum at nisl.">Tips &amp; Tricks</a></li>
                                <li class="cat-item cat-item-1"><a href=../category/uncategorized/index.html>Uncategorized</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div id=nav_menu-3 class="widget first widget_nav_menu">
                            <h2 class="widgettitle">Userful links</h2>
                            <div class=menu-userful-links-container>
                                <ul id=menu-userful-links class=menu>
                                    <li id=menu-item-509 class="menu-item menu-item-type-custom menu-item-object-custom menu-item-509"><a href=#>About Us</a></li>
                                    <li id=menu-item-510 class="menu-item menu-item-type-custom menu-item-object-custom menu-item-510"><a href=#>Portfolio</a></li>
                                    <li id=menu-item-511 class="menu-item menu-item-type-custom menu-item-object-custom menu-item-511"><a href=#>Terms Of Service</a></li>
                                    <li id=menu-item-512 class="menu-item menu-item-type-custom menu-item-object-custom menu-item-512"><a href=#>Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div id=nav_menu-4 class="widget first widget_nav_menu">
                            <h2 class="widgettitle">About</h2>
                            <div class=menu-about-menu-container>
                                <ul id=menu-about-menu class=menu>
                                    <li id=menu-item-1867 class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1867"><a href=#>About</a></li>
                                    <li id=menu-item-1868 class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1868"><a href=#>Terms</a></li>
                                    <li id=menu-item-1869 class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1869"><a href=../contact/index.html>Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom clearfix">
        <div class=container>
            <div class=container-inner>
                <div class=row>
                    <div class="col-md-6 col-sm-12">
                        <div class=coppy-right>
                            <span>Copyrights &copy; 2022<a
href="https://github.com/JimiAbraham">Jimi Abraham</a> All Rights Reserved.</span></div>
                    </div>
                    <div class="col-md-6 col-sm-12 footer-bottom-left">
                        <div id=ganesa_social-2 class="widget first ganesa_social">
                            <div class="ganesa-social-icon clearfix">
                                <a href=# target=_blank title=ion-social-facebook class=ion-social-facebook></a>
                                <a href=# target=_blank title=ion-social-googleplus class=ion-social-googleplus></a>
                                <a href=# target=_blank title=ion-social-twitter class=ion-social-twitter></a>
                                <a href=# target=_blank title=ion-social-instagram class=ion-social-instagram></a>
                                <a href=# target=_blank title=ion-social-pinterest class=ion-social-pinterest></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>