<header id=masthead class="site-header header-center style_white">
    <div id=ganesa-header>
        <div class=header-content-logo>
            <p class=site-title>
                <a href="/articles" rel=home>
                    <img class=logo-default src=../wp-content/themes/logo.svg alt=EyeCool>
                </a>
            </p>
        </div>
        <div class="header-content-right hidden-md hidden-lg">
            <div class="searchform-mini searchform-moblie hidden-md hidden-lg">
                <button class=btn-mini-search><i
class=ion-ios-search></i></button></div>
            <div class="searchform-wrap search-transition-wrap ganesa-hidden">
                <div class=search-transition-inner>
                    <form method=get class=searchform action=https://ganesa.nanothemes.co/>
                    <div class=input-group>
                        <input type=text class=form-control placeholder="Search ... " value name=s>
                        <span class=input-group-btn>
<button
class="btn btn-primary"><i
class=ion-ios-search></i></button>
</span></div>
                    </form> <button class="btn-mini-close pull-right"><i
class=ion-ios-close-empty></i></button></div>
            </div>
        </div>
        <div class="header-content-menu ">
            <div class=container>
                <div class=ganesa-header-content>
                    <div class=header-content>
                        <div id=na-menu-primary class="nav-menu clearfix">
                            <nav class="text-center na-menu-primary clearfix">
                                <ul id=menu-primary-navigation class="nav navbar-nav na-menu mega-menu">
                                    <li id=menu-item-2316 class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-2316"><a href="/articles">Home</a>

                                    </li>
                                    <li id=menu-item-2402 class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-2402"><a href="/articles/category">Category</a>

                                    </li>
                                    <!-- <li id=menu-item-2405 class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2405"><a href=../2017/08/04/building-a-creative-space/index.html>Single</a> -->

                                    </li>
                                    <li id=menu-item-2383 class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2383"><a href="/articles/aboutMe">About Us</a></li>
                                    <li id=menu-item-2384 class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2384"><a href="/articles/contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class=header-content-right>
                        <div class=header-content-right>
                            <div class=searchform-mini>
                                <button class=btn-mini-search><i
class=ion-ios-search></i></button></div>
                            <div class="searchform-wrap search-transition-wrap ganesa-hidden">
                                <div class=search-transition-inner>
                                    <form method=get class=searchform action="">
                                        <div class=input-group>
                                            <input type=text class=form-control placeholder="Search ... " value name=s>
                                            <span class=input-group-btn>
<button
class="btn btn-primary"><i
class=ion-ios-search></i></button>
</span></div>
                                    </form> <button class="btn-mini-close pull-right"><i
class=ion-ios-close-empty></i></button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>