<!DOCTYPE html>
<html lang=en-US>

<%- include('./inc/header.ejs') %>



    <!-- 
eyeconic

iconic

icon

eyeset

eye-seee -->


    <body class="archive category category-lifestyle category-7 wp-embed-responsive single-3 wpb-js-composer js-comp-ver-5.7 vc_responsive">
        <div id=page class="wrapper site">
            <div class=canvas-overlay></div>

            <%- include('./inc/nav')  %>


                <div id=content class=site-content>
                    <div class="wrap-content container" role=main>
                        <h1 class="title-cat">
                            Article Categories</h1>
                        <div class="content-category cats-grid">
                            <div class=main-content>
                                <div class="archive-blog ">
                                    <div class="rows affect-isotope clearfix">
                                        <div class="item-post col-item item-grid-des">
                                            <article class="post-item post-grid clearfix post-756 post type-post status-publish format-standard has-post-thumbnail hentry category-beauty category-lifestyle tag-fashion tag-lifestyle tag-news tag-style">
                                                <div class="article-tran hover-share-item">
                                                    <div class=post-image>
                                                        <a href=../../2017/08/04/building-a-creative-space/index.html class=bgr-item></a>
                                                        <a href="../../2017/08/04/building-a-creative-space/index.html">
                                                            <img class=lazy src=../../wp-content/themes/ganesa/assets/images/layzyload-grid.jpg data-lazy=https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga1-640x400.jpg data-src=https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga1-640x400.jpg
                                                                alt=post-image>
                                                        </a>

                                                    </div>
                                                    <div class=article-content>
                                                        <div class="entry-header clearfix">
                                                            <header class=entry-header-title>
                                                                <h3 class="entry-title"><a href="/articles/article-category?category=Lifestyle" rel=bookmark>  Lifestyle </a></h3>
                                                            </header>


                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="item-post col-item item-grid-vertical">
                                            <article class="post-item post-grid clearfix post-753 post type-post status-publish format-standard has-post-thumbnail hentry category-beauty category-lifestyle tag-fashion tag-healthy tag-lifestyle tag-travel">
                                                <div class="article-tran hover-share-item">
                                                    <div class=post-image>
                                                        <a href=../../2017/08/04/styling-a-silk-tee-four-ways/index.html class=bgr-item></a>
                                                        <a href="../../2017/08/04/styling-a-silk-tee-four-ways/index.html">
                                                            <img class=lazy src=../../wp-content/themes/ganesa/assets/images/layzyload-grid-vertical.jpg data-lazy=https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga23-530x698.jpg data-src=https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga23-530x698.jpg
                                                                alt=post-image>
                                                        </a>
                                                        <div class=social-share>
                                                            <div class="social share-links clearfix">
                                                                <ul class="social-icons list-unstyled list-inline">
                                                                    <li class="social-item facebook">
                                                                        <a href="http://www.facebook.com/sharer.php?u=https://ganesa.nanothemes.co/2017/08/04/styling-a-silk-tee-four-ways/" title=facebook class="post_share_facebook facebook" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=220,width=600');return false;">
                                                                            <i class="fa fa-facebook"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="social-item twitter">
                                                                        <a href="https://twitter.com/share?url=https://ganesa.nanothemes.co/2017/08/04/styling-a-silk-tee-four-ways/&amp;text=Styling+a+silk+tee+four+ways.&amp;via=Krystal+Mays" title=twitter onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=260,width=600');return false;"
                                                                            class="product_share_twitter twitter">
                                                                            <i class="fa fa-twitter"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="social-item google">
                                                                        <a href="https://plus.google.com/share?url=https://ganesa.nanothemes.co/2017/08/04/styling-a-silk-tee-four-ways/" class=googleplus title="google +" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                                                            <i class="fa fa-google-plus"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="social-item linkedin">
                                                                        <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://ganesa.nanothemes.co/2017/08/04/styling-a-silk-tee-four-ways/&amp;title=pinterest&amp;summary=Styling+a+silk+tee+four+ways.&amp;source=Styling%20a%20silk%20tee%20four%20ways.">
                                                                            <i class="fa fa-linkedin"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="social-item pinterest">
                                                                        <a href="http://pinterest.com/pin/create/button/?url=https://ganesa.nanothemes.co/2017/08/04/styling-a-silk-tee-four-ways/&amp;media=https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga23.jpg&amp;description=Styling+a+silk+tee+four+ways." title=pinterest
                                                                            class=pinterest>
                                                                            <i class="fa fa-pinterest"></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=article-content>
                                                        <div class="entry-header clearfix">
                                                            <header class=entry-header-title>
                                                                <h3 class="entry-title"><a href=../../2017/08/04/styling-a-silk-tee-four-ways/index.html rel=bookmark>Styling a silk tee four ways.</a></h3>
                                                            </header>
                                                            <span class=post-cat>  <a
href=../beauty/index.html   title="View all posts in Beauty" >
Beauty </a>
, <a
href=index.html  title="View all posts in Lifestyle" >
Lifestyle </a>
</span>
                                                            <div class="article-meta clearfix">
                                                                <span class=posted-on><span
class=screen-reader-text>Posted on </span><a href=../../2017/08/04/styling-a-silk-tee-four-ways/index.html rel=bookmark><time
class="entry-date published" datetime=2017-08-04T16:09:17+00:00>August 4, 2017</time><time
class=updated datetime=2018-12-02T09:10:07+00:00>December 2, 2018</time></a></span>
                                                            </div>
                                                            <div class="entry-content hidden">
                                                                Lorem ipsum dolor sit amet consectetur adipiscing elit. Phasellus dignissim purus facilisis libero suscipit vulputate.Vestibulum rutrum velit...</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="item-post col-item item-grid-des">
                                            <article class="post-item post-grid clearfix post-744 post type-post status-publish format-standard has-post-thumbnail hentry category-beauty category-lifestyle tag-fashion tag-healthy tag-lifestyle tag-travel">
                                                <div class="article-tran hover-share-item">
                                                    <div class=post-image>
                                                        <a href=../../2017/08/04/manual-coffee-mill-grinder-with-ceramic-burrs/index.html class=bgr-item></a>
                                                        <a href="../../2017/08/04/manual-coffee-mill-grinder-with-ceramic-burrs/index.html">
                                                            <img class=lazy src=../../wp-content/themes/ganesa/assets/images/layzyload-grid.jpg data-lazy=https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga25-640x400.jpg data-src=https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga25-640x400.jpg
                                                                alt=post-image>
                                                        </a>

                                                    </div>
                                                    <div class=article-content>
                                                        <div class="entry-header clearfix">
                                                            <header class=entry-header-title>
                                                                <h3 class="entry-title"><a href="/articles/article-category?category=Eye-Protect" rel=bookmark>Eye Protect</a></h3>
                                                            </header>


                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="item-post col-item item-grid-vertical">
                                            <article class="post-item post-grid clearfix post-734 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle tag-fashion tag-healthy tag-lifestyle">
                                                <div class="article-tran hover-share-item">
                                                    <div class=post-image>
                                                        <a href=../../2017/08/04/free-on-site-drinks-at-nanocofe/index.html class=bgr-item></a>
                                                        <a href="../../2017/08/04/free-on-site-drinks-at-nanocofe/index.html">
                                                            <img class=lazy src=../../wp-content/themes/ganesa/assets/images/layzyload-grid-vertical.jpg data-lazy=https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga5-530x698.jpg data-src=https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga5-530x698.jpg
                                                                alt=post-image>
                                                        </a>
                                                        <div class=social-share>

                                                        </div>
                                                    </div>
                                                    <div class=article-content>
                                                        <div class="entry-header clearfix">
                                                            <header class=entry-header-title>
                                                                <h3 class="entry-title"><a href="/articles/article-category?category=Pathology" rel=bookmark>Pathology.</a></h3>
                                                            </header>

                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="item-post col-item item-grid-des">
                                            <article class="post-item post-grid clearfix post-728 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle tag-fashion tag-healthy tag-lifestyle">
                                                <div class="article-tran hover-share-item">
                                                    <div class=post-image>
                                                        <a href=../../2017/08/04/a-day-trip-to-san-francisco/index.html class=bgr-item></a>
                                                        <a href="../../2017/08/04/a-day-trip-to-san-francisco/index.html">
                                                            <img class=lazy src=../../wp-content/themes/ganesa/assets/images/layzyload-grid.jpg data-lazy=https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga17-640x400.jpg data-src=https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga17-640x400.jpg
                                                                alt=post-image>
                                                        </a>
                                                        <div class=social-share>

                                                        </div>
                                                    </div>
                                                    <div class=article-content>
                                                        <div class="entry-header clearfix">
                                                            <header class=entry-header-title>
                                                                <h3 class="entry-title"><a href="/articles/article-category?category=Occupational" rel=bookmark>Occupational.</a></h3>
                                                            </header>



                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="item-post col-item item-grid-vertical">
                                            <article class="post-item post-grid clearfix post-648 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle category-tips-tricks tag-health tag-lifestyle tag-live tag-travel">
                                                <div class="article-tran hover-share-item">
                                                    <div class=post-image>
                                                        <a href=../../2017/07/29/exercises-to-keep-your-heart-healthy/index.html class=bgr-item></a>
                                                        <a href="../../2017/07/29/exercises-to-keep-your-heart-healthy/index.html">
                                                            <img class=lazy src=../../wp-content/themes/ganesa/assets/images/layzyload-grid-vertical.jpg data-lazy=https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga4-530x698.jpg data-src=https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga4-530x698.jpg
                                                                alt=post-image>
                                                        </a>
                                                        <div class=social-share>
                                                            <div class="social share-links clearfix">
                                                                <ul class="social-icons list-unstyled list-inline">
                                                                    <li class="social-item facebook">
                                                                        <a href="http://www.facebook.com/sharer.php?u=https://ganesa.nanothemes.co/2017/07/29/exercises-to-keep-your-heart-healthy/" title=facebook class="post_share_facebook facebook" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=220,width=600');return false;">
                                                                            <i class="fa fa-facebook"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="social-item twitter">
                                                                        <a href="https://twitter.com/share?url=https://ganesa.nanothemes.co/2017/07/29/exercises-to-keep-your-heart-healthy/&amp;text=Exercises+to+Keep+Your+Heart+Healthy.&amp;via=Zishan+Joyce" title=twitter onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=260,width=600');return false;"
                                                                            class="product_share_twitter twitter">
                                                                            <i class="fa fa-twitter"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="social-item google">
                                                                        <a href="https://plus.google.com/share?url=https://ganesa.nanothemes.co/2017/07/29/exercises-to-keep-your-heart-healthy/" class=googleplus title="google +" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                                                            <i class="fa fa-google-plus"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="social-item linkedin">
                                                                        <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://ganesa.nanothemes.co/2017/07/29/exercises-to-keep-your-heart-healthy/&amp;title=pinterest&amp;summary=Exercises+to+Keep+Your+Heart+Healthy.&amp;source=Exercises%20to%20Keep%20Your%20Heart%20Healthy.">
                                                                            <i class="fa fa-linkedin"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="social-item pinterest">
                                                                        <a href="http://pinterest.com/pin/create/button/?url=https://ganesa.nanothemes.co/2017/07/29/exercises-to-keep-your-heart-healthy/&amp;media=https://ganesa.nanothemes.co/wp-content/uploads/2017/08/bloga4.jpg&amp;description=Exercises+to+Keep+Your+Heart+Healthy."
                                                                            title=pinterest class=pinterest>
                                                                            <i class="fa fa-pinterest"></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=article-content>
                                                        <div class="entry-header clearfix">
                                                            <header class=entry-header-title>
                                                                <h3 class="entry-title"><a href=../../2017/07/29/exercises-to-keep-your-heart-healthy/index.html rel=bookmark>Exercises to Keep Your Heart Healthy.</a></h3>
                                                            </header>
                                                            <span class=post-cat>  <a
href=index.html   title="View all posts in Lifestyle" >
Lifestyle </a>
, <a
href=../tips-tricks/index.html  title="View all posts in Tips &amp; Tricks" >
Tips &amp; Tricks </a>
</span>
                                                            <div class="article-meta clearfix">
                                                                <span class=posted-on><span
class=screen-reader-text>Posted on </span><a href=../../2017/07/29/exercises-to-keep-your-heart-healthy/index.html rel=bookmark><time
class="entry-date published" datetime=2017-07-29T09:14:44+00:00>July 29, 2017</time><time
class=updated datetime=2018-12-02T09:10:28+00:00>December 2, 2018</time></a></span>
                                                            </div>
                                                            <div class="entry-content hidden">
                                                                Lorem ipsum dolor sit amet consectetur adipiscing elit. Phasellus dignissim purus facilisis libero suscipit vulputate.Vestibulum rutrum velit...</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>




                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <%- include('./inc/footer.ejs') %>

        </div>
        <script>
            (function() {
                function addEventListener(element, event, handler) {
                    if (element.addEventListener) {
                        element.addEventListener(event, handler, false);
                    } else if (element.attachEvent) {
                        element.attachEvent('on' + event, handler);
                    }
                }

                function maybePrefixUrlField() {
                    if (this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
                        this.value = "http://" + this.value;
                    }
                }
                var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
                if (urlFields && urlFields.length > 0) {
                    for (var j = 0; j < urlFields.length; j++) {
                        addEventListener(urlFields[j], 'blur', maybePrefixUrlField);
                    }
                }
                var testInput = document.createElement('input');
                testInput.setAttribute('type', 'date');
                if (testInput.type !== 'date') {
                    var dateFields = document.querySelectorAll('.mc4wp-form input[type="date"]');
                    for (var i = 0; i < dateFields.length; i++) {
                        if (!dateFields[i].placeholder) {
                            dateFields[i].placeholder = 'YYYY-MM-DD';
                        }
                        if (!dateFields[i].pattern) {
                            dateFields[i].pattern = '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])';
                        }
                    }
                }
            })();
        </script>
        <script>
            var wpcf7 = {
                "apiSettings": {
                    "root": "https:\/\/ganesa.nanothemes.co\/wp-json\/contact-form-7\/v1",
                    "namespace": "contact-form-7\/v1"
                },
                "cached": "1"
            };
        </script>
        <script src=../../wp-content/cache/minify/c903a.js></script>
        <script>
            var NaScript = {
                "home_url": "https:\/\/ganesa.nanothemes.co\/",
                "ajax_url": "https:\/\/ganesa.nanothemes.co\/wp-admin\/admin-ajax.php?_wpnonce=8ed11daafd",
                "admin_theme_url": "https:\/\/ganesa.nanothemes.co\/wp-admin\/themes.php?_wpnonce=8ed11daafd"
            };
        </script>
        <script src=../../wp-content/cache/minify/d8001.js></script>
        <script>
            var mc4wp_forms_config = [];
        </script>
        <script src=../../wp-content/cache/minify/29e8b.js></script>
        <!--[if lte IE 9]> <script src='https://ganesa.nanothemes.co/wp-content/plugins/mailchimp-for-wp/assets/js/third-party/placeholders.min.js?ver=4.5.0'></script> <![endif]-->
    </body>

</html>